archive/n8n-legacy/n8n-workflows/fieldporter-enhanced-workflow-WORKING.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fieldporter-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://fieldporter.com,http://localhost:3001,http://localhost:3000"
        }
      },
      "id": "2bd420f3-c09c-4a1f-8d9e-f2aa0b96d200",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [520, -220],
      "webhookId": "fieldporter-chat-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Optimized input processing for FIELDPORTER AI Agent\nconst inputData = $input.all()[0].json;\n\n// Extract and validate conversation data\nconst body = inputData.body || inputData;\nconst userMessage = body.message || body.chatInput || '';\nconst sessionId = body.sessionId || `session_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\nconst userEmail = body.userEmail || null;\nconst messageCount = body.messageCount || 1;\nconst conversationHistory = body.conversationHistory || [];\n\n// Handle health checks\nif (userMessage === 'health_check') {\n  return {\n    response: 'FIELDPORTER AI Agent is running optimally',\n    sessionId: 'health_check_session',\n    messageCount: 1,\n    metadata: {\n      status: 'healthy',\n      timestamp: new Date().toISOString(),\n      agent: 'fieldporter_optimized'\n    }\n  };\n}\n\n// Enhanced message validation\nif (!userMessage || typeof userMessage !== 'string' || userMessage.trim().length === 0) {\n  return {\n    response: \"Thanks for reaching out! I'm FIELDPORTER's AI assistant. What specific AI challenge is your organization facing?\",\n    sessionId: sessionId,\n    messageCount: 1,\n    metadata: {\n      error: false,\n      fallback: true,\n      timestamp: new Date().toISOString(),\n      agent: 'fieldporter_optimized'\n    }\n  };\n}\n\n// Contact detection\nconst emailRegex = /\\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Z|a-z]{2,}\\b/gi;\nconst phoneRegex = /\\b(?:\\+?1[-.]?)?\\(?([0-9]{3})\\)?[-.]?([0-9]{3})[-.]?([0-9]{4})\\b/g;\n\nconst detectedEmail = userMessage.match(emailRegex)?.[0] || userEmail;\nconst detectedPhone = userMessage.match(phoneRegex)?.[0];\nconst hasContactInfo = !!(detectedEmail || detectedPhone);\n\n// Prepare conversation context (last 3 exchanges for efficiency)\nlet conversationContext = '';\nif (conversationHistory && conversationHistory.length > 0) {\n  conversationContext = conversationHistory\n    .slice(-6) // Last 6 messages (3 exchanges)\n    .map(msg => `${msg.role === 'user' ? 'User' : 'FIELDPORTER'}: ${msg.content}`)\n    .join('\\n');\n}\n\n// Lead qualification scoring\nconst qualificationKeywords = {\n  'ai strategy': 3, 'enterprise': 2, 'transformation': 2, 'automation': 2,\n  'consulting': 2, 'roi': 3, 'budget': 3, 'timeline': 2, 'urgent': 2,\n  'scale': 2, 'implementation': 2, 'portfolio': 2, 'vc': 3,\n  'construction': 2, 'research': 2, 'workflow': 2, 'development': 2,\n  'ai integration': 3, 'strategic research': 3, 'rapid prototyping': 2\n};\n\nlet leadScore = 1;\nconst lowerMessage = userMessage.toLowerCase();\nfor (const [keyword, score] of Object.entries(qualificationKeywords)) {\n  if (lowerMessage.includes(keyword)) {\n    leadScore += score;\n  }\n}\n\n// Boost score for contact information\nif (hasContactInfo) {\n  leadScore += 3;\n}\n\n// Check if asking for contact\nconst wantsContact = lowerMessage.includes('contact') || \n                   lowerMessage.includes('reach out') || \n                   lowerMessage.includes('get in touch') ||\n                   lowerMessage.includes('speak to someone') ||\n                   lowerMessage.includes('talk to someone') ||\n                   lowerMessage.includes('call me') ||\n                   lowerMessage.includes('email me');\n\n// Format for optimized AI processing\nconst result = {\n  chatInput: userMessage.trim(),\n  sessionId: sessionId,\n  userEmail: detectedEmail,\n  userPhone: detectedPhone,\n  hasContactInfo: hasContactInfo,\n  wantsContact: wantsContact,\n  messageCount: messageCount,\n  conversationContext: conversationContext,\n  leadScore: leadScore,\n  timestamp: new Date().toISOString()\n};\n\nreturn result;"
      },
      "id": "637a05bc-8379-4546-b489-61f2cd64abfe",
      "name": "Optimize Input Processing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, -220]
    },
    {
      "parameters": {
        "jsCode": "// Get knowledge base from Firebase using HTTP request\nconst inputData = $input.all()[0].json;\n\ntry {\n  // Firebase REST API URL for knowledge base\n  const firebaseUrl = 'https://fieldporter-website-default-rtdb.firebaseio.com/ai_knowledge_base.json';\n  \n  const response = await fetch(firebaseUrl);\n  const knowledgeData = await response.json();\n  \n  let knowledgeContext = '';\n  \n  if (knowledgeData && typeof knowledgeData === 'object') {\n    const knowledgeItems = Object.values(knowledgeData)\n      .filter(item => item && item.active === true)\n      .slice(0, 10) // Limit for token efficiency\n      .map(item => `[${item.category || 'general'}] ${item.title || 'Info'}: ${item.content || ''}`);\n    \n    if (knowledgeItems.length > 0) {\n      knowledgeContext = `\\n\\nCOMPANY KNOWLEDGE:\\n${knowledgeItems.join('\\n\\n')}`;\n    }\n  }\n  \n  return {\n    ...inputData,\n    knowledgeContext: knowledgeContext\n  };\n} catch (error) {\n  console.error('Knowledge base fetch failed:', error);\n  // Continue without knowledge context\n  return {\n    ...inputData,\n    knowledgeContext: ''\n  };\n}"
      },
      "id": "knowledge-fetch",
      "name": "Fetch Knowledge Base",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, -220]
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "options": {
          "frequencyPenalty": 0.1,
          "maxTokens": 150,
          "presencePenalty": 0.1,
          "temperature": 0.3,
          "topP": 0.9
        },
        "messages": {
          "values": [
            {
              "content": "=You are PORTER, FIELDPORTER's AI assistant. We help businesses integrate AI tools that actually work. We're builders who happen to consult - we test every AI tool and strategy in our own projects before recommending them.\n\nCRITICAL CONSTRAINTS:\n- You CANNOT send calendar invites, schedule meetings, or book appointments\n- You CANNOT access external systems or send emails directly\n- For booking requests, direct to contact page at fieldporter.com/contact\n\nRESPONSE RULES:\n- 2-3 sentences maximum\n- Professional but conversational tone\n- No special characters or formatting\n- Ask questions to understand their challenge\n- Guide qualified prospects toward consultation\n- Never mention specific client names or confidential projects\n- Avoid repetitive questions - build on previous conversation\n- Provide specific, authentic responses based on context\n\n{{ $json.knowledgeContext }}\n\nCONVERSATION GOAL: Understand their challenge and assess if we can help. Be natural and authentic.\n\nWHEN USER PROVIDES CONTACT INFO OR WANTS TO BE CONTACTED:\nAcknowledge their interest warmly and let them know Frederick will personally review their needs and reach out within 24 hours. Direct them to share details via fieldporter.com/contact for fastest response.",
              "role": "system"
            },
            {
              "content": "={{ $json.chatInput }}",
              "role": "user"
            }
          ]
        }
      },
      "id": "cb16de35-ab37-4b79-b359-0b6f32df5ffd",
      "name": "DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [1180, -220],
      "credentials": {
        "deepSeekApi": {
          "id": "WQs8dzH5ndbRE6bJ",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Optimized response formatting for chat interface\nconst data = $input.all()[0].json;\n\n// Handle health check responses\nif (data.response && data.metadata && data.metadata.agent === 'fieldporter_optimized') {\n  return data;\n}\n\n// Extract and clean AI response\nlet responseText = '';\nif (data.message && data.message.content) {\n  responseText = data.message.content;\n} else if (data.output) {\n  responseText = data.output;\n} else if (data.text) {\n  responseText = data.text;\n} else if (data.response) {\n  responseText = data.response;\n} else {\n  responseText = \"I'd love to learn about your AI challenges. What specific area is your organization looking to optimize with AI?\";\n}\n\n// Clean and optimize response\nresponseText = responseText.trim();\n\n// CONFIDENTIALITY CHECKS - Critical security feature\nconst confidentialTerms = ['papps mastery', 'voycap', 'harpers', 'sir the label', 'steve papps'];\nconst lowerResponse = responseText.toLowerCase();\n\nfor (const term of confidentialTerms) {\n  if (lowerResponse.includes(term)) {\n    responseText = \"I'd be happy to discuss how FIELDPORTER can help with your strategic challenges. What specific business problem are you looking to solve?\";\n    break;\n  }\n}\n\n// Remove any special formatting that could cause display issues\nresponseText = responseText\n  .replace(/[\\*\\#\\`\\[\\]\\(\\)]/g, '')\n  .replace(/\\n\\n+/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Ensure response length is appropriate for chat (mobile-friendly)\nif (responseText.length > 400) {\n  const truncated = responseText.substring(0, 380);\n  const lastSentence = truncated.lastIndexOf('.');\n  if (lastSentence > 200) {\n    responseText = truncated.substring(0, lastSentence + 1);\n  } else {\n    responseText = truncated + '...';\n  }\n}\n\n// Ensure minimum quality and professional tone\nif (!responseText || responseText.length < 20) {\n  responseText = \"Thanks for your question! This sounds like something our team should discuss with you directly. What's the best way to connect about your AI strategy needs?\";\n}\n\n// Extract session data\nconst sessionId = data.sessionId || 'unknown_session';\nconst messageCount = (data.messageCount || 1) + 1;\nconst leadScore = data.leadScore || 1;\n\n// Check if we need to send notification\nconst shouldNotify = leadScore >= 7 || data.hasContactInfo || data.wantsContact;\n\n// Enhanced response with business intelligence\nconst formattedResponse = {\n  response: responseText,\n  sessionId: sessionId,\n  messageCount: messageCount,\n  shouldNotify: shouldNotify,\n  userEmail: data.userEmail || null,\n  userPhone: data.userPhone || null,\n  chatInput: data.chatInput || '',\n  leadScore: leadScore,\n  metadata: {\n    timestamp: new Date().toISOString(),\n    agent: 'fieldporter_optimized',\n    leadScore: leadScore,\n    responseLength: responseText.length,\n    conversationSaved: true,\n    confidentialityChecked: true,\n    emailCollected: !!data.userEmail,\n    phoneCollected: !!data.userPhone,\n    contactRequested: data.wantsContact || false\n  }\n};\n\nreturn formattedResponse;"
      },
      "id": "6b332b0d-95d4-4768-b301-fa6bc9a9cbbc",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, -220]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.shouldNotify }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-notification",
      "name": "Check if Need Notification",
      "type": "n8n-nodes-base.if",
      "position": [1620, -100],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "toRecipients": "freddy@fieldporter.com",
        "subject": "=🔥 FIELDPORTER Lead: Score {{ $json.leadScore }}/10{{ $json.userEmail ? ' - ' + $json.userEmail : '' }}",
        "bodyContent": "=<h2>🔥 New Lead from AI Chat</h2>\n<div style=\"background: #f8f9fa; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n<p><strong>Lead Score:</strong> <span style=\"color: #d73a49; font-size: 18px;\">{{ $json.leadScore }}/10</span></p>\n<p><strong>Session ID:</strong> {{ $json.sessionId }}</p>\n{{ $json.userEmail ? '<p><strong>📧 Email:</strong> <a href=\"mailto:' + $json.userEmail + '\">' + $json.userEmail + '</a></p>' : '' }}\n{{ $json.userPhone ? '<p><strong>📞 Phone:</strong> ' + $json.userPhone + '</p>' : '' }}\n</div>\n\n<h3>💬 Latest Interaction</h3>\n<div style=\"background: #e3f2fd; padding: 15px; border-radius: 8px; margin: 10px 0;\">\n<p><strong>User Message:</strong> {{ $json.chatInput }}</p>\n</div>\n<div style=\"background: #f3e5f5; padding: 15px; border-radius: 8px; margin: 10px 0;\">\n<p><strong>AI Response:</strong> {{ $json.response }}</p>\n</div>\n\n<h3>📊 Lead Intelligence</h3>\n<div style=\"background: #e8f5e8; padding: 15px; border-radius: 8px; margin: 10px 0;\">\n<ul style=\"margin: 0; padding-left: 20px;\">\n<li>Contact Info Provided: <strong>{{ $json.metadata.emailCollected || $json.metadata.phoneCollected ? 'Yes ✅' : 'No ❌' }}</strong></li>\n<li>Contact Requested: <strong>{{ $json.metadata.contactRequested ? 'Yes ✅' : 'No ❌' }}</strong></li>\n<li>Message Count: <strong>{{ $json.messageCount }}</strong></li>\n<li>Timestamp: <strong>{{ $json.metadata.timestamp }}</strong></li>\n</ul>\n</div>",
        "additionalFields": {
          "importance": "High",
          "bodyContentType": "html"
        }
      },
      "id": "send-email",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.microsoftOutlook",
      "position": [1840, -100],
      "typeVersion": 2,
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "2f8oS1wGi2iGEAB4",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Enhanced conversation saving with lead scoring\nconst data = $json;\nconst sessionId = data.sessionId;\nconst messageCount = data.messageCount || 1;\nconst leadScore = data.metadata?.leadScore || 1;\n\n// Firebase Realtime Database URL\nconst firebaseUrl = `https://fieldporter-website-default-rtdb.firebaseio.com/conversations/${sessionId}.json`;\n\nconst conversationData = {\n  last_active: new Date().toISOString(),\n  messages_count: messageCount,\n  lead_score: leadScore,\n  status: leadScore > 5 ? 'qualified' : 'active',\n  agent_version: 'optimized',\n  updated_at: new Date().toISOString(),\n  latest_message: data.chatInput || '',\n  latest_response: data.response || '',\n  email_collected: !!data.userEmail,\n  phone_collected: !!data.userPhone,\n  contact_requested: data.metadata?.contactRequested || false,\n  notification_sent: data.shouldNotify || false\n};\n\ntry {\n  const response = await fetch(firebaseUrl, {\n    method: 'PUT',\n    headers: {\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify(conversationData)\n  });\n  \n  if (response.ok) {\n    return {\n      ...data,\n      conversationSaved: true,\n      leadQualified: leadScore > 5\n    };\n  } else {\n    throw new Error(`HTTP ${response.status}`);\n  }\n} catch (error) {\n  console.error('Failed to save conversation:', error);\n  return {\n    ...data,\n    conversationSaved: false,\n    error: error.message\n  };\n}"
      },
      "id": "cc3b32d1-997f-4709-aae1-bbab9801fa06",
      "name": "Save Conversation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1620, -220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.response, sessionId: $json.sessionId, messageCount: $json.messageCount, metadata: $json.metadata }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "bf13c002-a0c4-4a49-b43e-9e6f0b96d200",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1840, -220]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Optimize Input Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimize Input Processing": {
      "main": [
        [
          {
            "node": "Fetch Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Knowledge Base": {
      "main": [
        [
          {
            "node": "DeepSeek Chat Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Check if Need Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Need Notification": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Notification": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Conversation": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80490970067c96bad09a01f5db09f21dda0685db6652b035ad218cd3cf76bd0b"
  }
}
